.search-bar{
  border: none;
  width: 500px;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 2px 5px 35px rgba(128, 128, 128, 0.5);
  font-weight: 500;
  color: gray;
  margin-top: 0;
  margin-bottom: 50px;
}
.google{
  width: 200px;
  object-position: center;
  display: block;
  margin-left: 150px;
  margin-bottom: 0;
}